# Virtual Environment
backend/.venv/


# Python Cache
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd

# Environment Variables

backend/.env
frontend/.env

# Vector Database
backend/chroma_db/

# Uploaded Documents
backend/data/

# Jupyter Notebook

backend/.ipynb_checkpoints/

# macOS
.DS_Store

# Linux
*~

# VS Code
.vscode/

# JetBrains
.idea/

# Python Build Files
backend/build/
backend/dist/
backend/*.egg-info/

# Logs
backend/*.log

# Testing
backend/.pytest_cache/

# Coverage
backend/.coverage
backend/htmlcov/

# Mypy
backend/.mypy_cache/

# Ruff
backend/.ruff_cache/    


# Temporary Files
backend/tmp/
backend/temp/

frontend/dist/
frontend/node_modules/
frontend/.next/