langchain
langchain-community
langchain-text-splitters
langchain-ollama
langchain-chroma
langchain-classic
chromadb
pymupdf
fastapi
pydantic
uvicorn
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary
python-dotenv